
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<!-- Page Heading -->
@section  header{
    <i class="fa fa-home">Trang quản trị</i>

}
<marquee><h3 style="color:purple"> Bán Sách Online</h3></marquee>
<div style="display:flex; justify-content: space-between">
    <img style="width: 300px; height: 400px;" src="~/Assets/admin/img/0001.jpg" alt="Alternate Text" />
    <img style="width: 300px; height: 400px;" src="~/Assets/admin/img/0002.jpg" alt="Alternate Text" />
    <img style="width: 300px; height: 400px;" src="~/Assets/admin/img/0003.jpg" alt="Alternate Text" />
</div>